

<style>
body{
background-color:lightpink;
}

table{
color:black;

border-collapse:collapse;

margin-top:30px;
width:100%;


}
h1{
text-align:center;
}
th,td{
text-align:center;

}
.a1{
display:block;
position:fixed;
bottom:5px;
left:500px;


}


</style>
