<style>


body{
background-image:url("loginimage.jpg");
text-align:center;
background-size:cover;
}
.s1{

background-color:rgb(153, 153, 102)
text-align:center;
margin:auto;
opacity:0.8;
font-size:18;
margin-top:100px;
border-radius:20px;
font-color:green;
width:30%;
}
img{
margin-top:40px;





}
input[type=text]{
width:70%;
height:30px;
font-size:18px;

background-color:white;
border-radius:10px;
}
input[type=password]{
width:70%;
height:30px;

font-size:18px;
background-color:white;
border-radius:10px;
}
input[type=submit]{
margin-top:40px;


}
span{
color:white;


}

</style>
